/* h2 {
  background-color: bisque;
  font-size: 30px;
} */

.love1 {
  width: 1000px;
  height: 500px;
}
.linker {
  text-decoration: none;
  color: blueviolet;
  font-size: 0.7em;
}
.backlink {
  color: green;
  font-size: 30px;
  text-decoration: none;
}
.monkey {
  width: 500px;
  height: 500px;
}
.wood {
  width: 500px;
  height: 500px;
}
.article-content{
  font-family: 'Ballet', cursive;
}

.navigation{
  background-color: bisque;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}